body {
  color: #777;
  font-size: 20px;
}

.menu li a {
  color: #fff;
}

.hero {
  padding: 170px 0 100px 0;
  width: 100%;
}
.hero img {
  float: right;
}
h1 {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 55px;
}
.lead {
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

.diagnoal-container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
.diagonal {
	color: #fff;
 	position: relative;
 	background: #136FFB;
}
.diagonal:before {
 	position: absolute;
 	margin-top: 255px;
 	content: '';
 	border-style: solid;
	border-width: 0 0 5em 100vw;
	border-color: #136FFB transparent transparent #136FFB;
 }

.about {
  margin: 200px 0;
 }
 .contact {
   padding: 150px 0;
   background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('../img/sails.jpg') no-repeat center;
   background-size: cover;
   color: white;
 }
 .button-outline {
   display: block;
   border: 1px solid #fff;
   background: none;
   border-radius: 4px;
   margin: 0 auto;
   font-size: 20px;
 }
 @media (max-width: 1024px ) {
   .hero img {
     width: 120px;
     float: none;
   }
   .hero h1 {
     font-size: 40px;
   }
   .hero .lead {
     font-size: 32px;
   }
   .diagonal:before {
   position: absolute;
   margin-top: 257px;
   content: '';
   border-style: solid;
     border-width: 0 0 5em 100vw;
     border-color: #136FFB transparent transparent #136FFB;
    }
    .about {
      margin: 140px 10px 80px;
    }
    .contact {
      padding: 100px 0 50px 0;
 }
 @media (max-width: 1023px ) {
   .hero {
     padding: 90px 0 40px 0;
   }
   .hero img {
     width: 100px;
     float: none;
   }
   .hero h1 {
     font-size: 40px;
   }
   .hero .lead {
     font-size: 24px;
   }
   .diagonal:before {
     margin-top: 225px;
    }
    .about {
      margin: 170px 10px 100px 10px;
    }
    .contact {
      padding: 120px 0 100px 0;
    }
 }
@media (max-width: 900px) {
  .hero img {
    width: 70px;
    float: none;
  }
  .hero h1 {
    font-size: 37px;
  }
  .hero .lead {
    font-size: 22px;
  }
  .diagonal:before {
    margin-top: 188px;
  }
}
@media (max-width: 831px) {
  .diagonal:before {
    margin-top: 210px;
  }
@media (max-width: 436px) {
  .hero {
    padding: 50px 0;
  }
  .hero img {
   width: 70px;
   float: none;
  }
  .hero h1 {
   font-size: 30px;
  }
  .hero .lead {
   font-size: 22px;
  }
  .diagonal:before {
    margin-top: 232px;
  }
}
@media (max-width: 245px) {
  .diagonal:before {
    display: none;
  }
}
