body {
  font-size: 20px;
  color: #777;
}
section {
  padding: 100px 0 80px 0;
}
.hero {
  background: url('../img/wind-illustration.png') repeat-x;
  text-align: center;
  color: #fff;
}
.hero h1 {
  font-weight: 600;
}
.styled-line {
  width: 350px;
  height: 10px;
  border-radius: 9px;
  background: #234567;
  border: none;
  margin: 2em auto 4em auto;

}
.services {
  text-align: center;
}

.services img {
  display: block;
  margin: 0 auto 2em auto;
}
 .contact {
   background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('../img/sails.jpg') no-repeat center;
   background-size: cover;
   color: white;
 }
 .button-outline {
   display: block;
   border: 1px solid #fff;
   background: none;
   border-radius: 4px;
   margin: 0 auto;
   font-size: 20px;
 }
.button-outline:hover {
  background: none;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 32px;
  }
  .hero .lead {
    font-size: 20px;
    line-height: 1.1;
  }
  .services h3 {
    font-size: 22px;
  }
}
