body {
  font-size: 20px;
  color: #777;
}
section {
  padding: 100px 0 80px 0;
}
.hero {
  background: url('../img/sails-illustration2.png') repeat-x;
  text-align: center;
  color: #fff;
}
.styled-line {
  width: 350px;
  height: 10px;
  border-radius: 9px;
  background: #2178FD;
  border: none;
  margin: 2em auto 4em auto;

}
.services {
  text-align: center;
}
.services h3 {
}
.services img {
  display: block;
  margin: 0 auto 2em auto;
}
 .contact {
   background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),rgba(0,0,0,0.55) url('../img/sails.jpg') no-repeat center;
   background-size: cover;
   color: white;
 }
 .button-outline {
   display: block;
   border: 1px solid #fff;
   background: none;
   border-radius: 4px;
   margin: 0 auto;
   font-size: 20px;
 }
.button-outline:hover {
  background: none;
}
